::selection {
	background-color: rgb(4, 242, 4);
	color: black;
}

:root {
	--bg-color: #000;
	--title-color: #ffffff;
	--text-color: #c7c7c7;
	--primary-color: #d3e97a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

.container {
	max-width: 1265px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.site-header {
	padding-top: 25px;
	padding-bottom: 25px;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 33px;
	line-height: 150%;
	letter-spacing: -1%;
	color: var(--text-color);
}

.zokirov {
	color: white;
}

.site-header__list {
	display: flex;
	gap: 33px;
}

.site-header__item {
	color: white;
}

.site-header__link {
	font-weight: 500;
	font-size: 16px;
	line-height: 25px;
	color: var(--text-color);
	transition: all 0.4s ease;
}

.site-header__link:hover {
	color: var(--primary-color);
}

.manu-btn {
	display: none;
}

/* HERO START */
.hero {
	padding-top: 30px;
	padding-bottom: 80px;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.hero__info {
	max-width: 545px;
	width: 100%;
}

.hero__title {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 80px;
	line-height: 90%;
	margin-bottom: 8px;
	color: var(--title-color);
	text-transform: uppercase;
}

.hero__text {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 40px;
}

.hero__inner {
	display: flex;
	align-items: center;
	gap: 16px;
}

.hero__link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 25px;
	padding: 19px 19px 19px 25px;
	background-color: #d3e97a;
	border-radius: 100px;
	color: #0a0a0a;
	font-family: sans-serif;
	font-weight: 700;
	font-style: Bold;
	font-size: 16px;
	line-height: 100%;
	text-transform: uppercase;
	transition: all 0.4s ease;
}

.hero__link:hover {
	transform: scale(1.1);
}

.hero__link span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #0a0a0a;
	border-radius: 50%;
}

.hero__social link {
	display: flex;
	align-items: center;
	gap: 16px;
}

.hero__social a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	background-color: #222222;
	border-radius: 50%;
	transition: all 0.4s ease;
}

.hero__social a:hover {
	transform: scale(1.2);
}

.hero__social {
	display: flex;
	gap: 10px;
}

.hero__img {
	max-width: 600px;
	width: 100%;
}

.hero__img img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 1%;
}

/* HERO END */

/* FEATURED START */
.featured {
	padding-top: 80px;
	padding-bottom: 80px;
}
.featured__top {
	margin-bottom: 80px;
	max-width: 600px;
	width: 100%;
}

.featured__top h2 {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 76px;
	line-height: 100%;
	margin-bottom: 8px;
	color: var(--title-color);
}

.featured__top p {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: var(--text-color);
}

.featured__list {
	display: flex;
	flex-direction: column;
	gap: 120px;
}

.featured__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 48px;
}

.featured__work {
	max-width: 600px;
	width: 100%;
	position: relative;
	padding: 126px 57px;
	background-color: #1a1a1a;
	border-radius: 12px;
}

.featured__work-btn {
	position: absolute;
	top: 17px;
	left: 17px;
	background-color: #0a0a0a;
	padding: 8px 16px;
	border: none;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 150%;
	color: var(--title-color);
	border-radius: 100px;
}

.featured__work img {
	object-fit: contain;
}

.featured__info {
	max-width: 576px;
	width: 100%;
}

.featured__title {
	margin-bottom: 17px;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 140%;
	color: var(--title-color);
}

.featured__text {
	margin-bottom: 33px;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}

.featured__title5,
.featured__inner {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	padding-bottom: 17px;
	border-bottom: 1px solid #484848;
	margin-bottom: 17px;
	color: var(--title-color);
}

.featured__inner {
	display: flex;
	justify-content: space-between;
	margin-bottom: 47px;
}

.featured__social {
	display: flex;
	align-items: center;
	gap: 25px;
}

.featured__social a {
	display: flex;
	align-items: center;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	color: var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	padding-bottom: 3px;
	gap: 10px;
}

/* FEATURED NED */

/* ABOUT ME START */
.about-me {
	border-top: 1px solid #484848;
	padding-top: 123px;
	padding-bottom: 391px;
}

.about-me__container {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.about-me__title {
	font-family: sans-serif;
	font-size: 80px;
	line-height: 90%;
	color: var(--title-color);
	text-transform: uppercase;
	white-space: nowrap;
}

.about-me__info {
	max-width: 705px;
	width: 100%;
	gap: 40px;
}

.about-me__title3 {
	margin-bottom: 17px;
	font-family: sans-serif;
	font-weight: 500;
	font-size: 33px;
	line-height: 140%;
}

.about-me__text {
	margin-bottom: 53px;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}

.about-me__link {
	font-family: sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	text-transform: uppercase;
	color: var(--primary-color);
	padding-bottom: 3px;
	border-bottom: 2px solid var(--primary-color);
}
/* ABOUT ME END */

/* CONNERCT START */

.footer {
	border-top: 1px solid #484848;
	padding-top: 80px;
	padding-bottom: 80px;
}

.connect__container {
	display: flex;
	justify-content: space-between;
	gap: 25px;
	height: 601px;
}

.connect__info {
	max-width: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.connect__inner {
	margin-bottom: auto;
}

.connect__title {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 76px;
	line-height: 100%;
	color: var(--title-color);
	margin-bottom: 17px;
}

.connect__text {
	margin-bottom: 40px;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	max-width: 303px;
	width: 100%;
}

.connect__list {
	display: flex;
	gap: 25px;
}

.connect__link {
	display: flex;
	transition: all 0.4s ease;
}

.connect__link:hover {
	transform: scale(1.5);
}

.connect__description {
	font-family: sans-serif;
	font-weight: 500;
	font-style: Bold;
	font-size: 16px;
	line-height: 160%;
	color: var(--text-color);
}

.form {
	max-width: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form__label {
	font-family: sans-serif;
	font-weight: 500;
	font-style: Medium;
	font-size: 16px;
	line-height: 160%;
	margin-bottom: 8px;
}

.form__input,
.form__text {
	width: 100%;
	margin-bottom: 25px;
	padding: 12px 16px;
	border-radius: 5px;
	background-color: #1a1a1a;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: var(--title-color);
	outline: none;
	border: none;
}

.form__text {
	margin-bottom: auto;
	max-height: 156px;
	height: 100%;
	resize: vertical;
}

.form__btn {
	width: 140;
	height: 54;
	font-family: sans-serif;
	font-weight: 700;
	font-style: Bold;
	font-size: 16px;
	line-height: 100%;
	text-transform: uppercase;
	padding: 20px 40px;
	background-color: var(--primary-color);
	display: inline-block;
	border-radius: 100px;
	border: none;
	transition: all 0.4s ease;
	cursor: pointer;
}

.form__btn:hover {
	transform: scale(1.2);
}

/* CONNECT END */

/* MEDIA START */

@media screen and (max-width: 1024px) {
	.hero__info {
		max-width: 480px;
	}

	.hero__title {
		font-family: sans-serif;
		font-size: 65px;
	}

	/* FEATURED START */

	.featured__top {
		margin-bottom: 65px;
	}

	.featured__top h2 {
		font-size: 65px;
	}

	.featured__list {
		gap: 90px;
	}

	.featured__item {
		gap: 36px;
	}

	.featured__work {
		max-width: 48%;
		display: flex;
		padding: 80px 57px;
	}

	.featured__work img {
		object-fit: cover;
		width: 100%;
	}

	.featured__info {
		max-width: 576px;
	}

	.featured__title {
		margin-bottom: 16px;
		font-size: 28px;
	}

	.featured__text {
		font-size: 16px;
	}

	.featured__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
	}

	/* FEATURED END */

	.about-me__title {
		font-size: 80px;
	}
}

@media screen and (max-width: 768px) {
	/* HERO START */
	.logo {
		font-family: sans-serif;
		font-size: 25px;
	}

	.site-header__list {
		gap: 28px;
	}

	.site-header__link {
		font-size: 16px;
	}

	.hero {
		padding-top: 40px;
		padding-bottom: 65px;
	}

	.hero__info {
		max-width: 48%;
	}

	.hero__title {
		font-family: sans-serif;
		font-size: 48px;
	}

	.hero__text {
		font-family: sans-serif;
		font-size: 18px;
		margin-bottom: 40px;
	}

	.hero__inner {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.hero__link {
		gap: 25px;
		padding: 4px 5px 4px 16px;
		font-family: sans-serif;
		font-size: 16px;
	}

	.hero__link span {
		width: 40px;
		height: 40px;
	}

	.hero__social a {
		width: 55px;
		height: 55px;
	}

	.hero__img {
		max-width: 48%;
	}

	/* HERO END */

	/* FEATURED START */
	.featured {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.featured__top {
		margin-bottom: 80px;
		max-width: 600px;
		width: 100%;
	}

	.featured__top h2 {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 76px;
		line-height: 100%;
		margin-bottom: 8px;
		color: var(--title-color);
	}

	.featured__top p {
		font-family: sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		color: var(--text-color);
	}

	.featured__list {
		display: flex;
		flex-direction: column;
		gap: 120px;
	}

	.featured__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 48px;
	}

	.featured__work {
		max-width: 600px;
		width: 100%;
		position: relative;
		padding: 126px 57px;
		background-color: #1a1a1a;
		border-radius: 12px;
	}

	.featured__work-btn {
		position: absolute;
		top: 17px;
		left: 17px;
		background-color: #0a0a0a;
		padding: 8px 16px;
		border: none;
		font-family: sans-serif;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		color: var(--title-color);
		border-radius: 100px;
	}

	.featured__work img {
		object-fit: contain;
	}

	.featured__info {
		max-width: 576px;
		width: 100%;
	}

	.featured__title {
		margin-bottom: 17px;
		font-family: sans-serif;
		font-weight: 500;
		font-size: 32px;
		line-height: 140%;
		color: var(--title-color);
	}

	.featured__text {
		margin-bottom: 33px;
		font-family: sans-serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
	}

	.featured__title5,
	.featured__inner {
		font-family: sans-serif;
		font-weight: 600;
		font-size: 16px;
		line-height: 150%;
		text-transform: uppercase;
		padding-bottom: 17px;
		border-bottom: 1px solid #484848;
		margin-bottom: 17px;
		color: var(--title-color);
	}

	.featured__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 47px;
	}

	.featured__social {
		display: flex;
		align-items: center;
		gap: 25px;
	}

	.featured__social a {
		display: flex;
		align-items: center;
		font-family: sans-serif;
		font-weight: 700;
		font-size: 16px;
		line-height: 150%;
		text-transform: uppercase;
		color: var(--primary-color);
		border-bottom: 2px solid var(--primary-color);
		padding-bottom: 3px;
		gap: 10px;
	}
	/* FEATURED NED */

	/* ABOUT ME START */
	.about-me {
		padding-top: 0;
		padding-bottom: 65px;
	}

	.about-me__container {
		gap: 0;
	}

	.about-me__title {
		display: none;
	}

	.about-me__info {
		max-width: 100%;
	}

	.about-me__title3 {
		font-size: 25px;
	}

	.about-me__text {
		margin-bottom: 25px;
		font-size: 16px;
	}
	/* ABOUT ME END */
}

/* MEDIA START */

@media screen and (max-width: 1024px) {
	.hero__info {
		max-width: 480px;
	}

	.hero__title {
		font-family: sans-serif;
		font-size: 65px;
	}

	/* FEATURED START */

	.featured__item {
		flex-direction: column;
	}

	.featured__work {
		max-width: 100%;
		padding: 50px 40px 0px 40px;
	}

	.featured__info {
		max-width: 100%;
	}
	/* FEATURED END */
}

@media screen and (max-width: 680px) {
	.hero__container {
		flex-direction: column;
	}

	.hero__info {
		max-width: 100%;
	}

	.hero__title {
		font-size: 56px;
	}

	.hero__img {
		max-width: 100%;
	}

	.connect__container {
		display: flex;
		flex-direction: column;
		height: auto;
	}

	.connect__info,
	.form {
		max-width: 100%;
	}

	.connect__inner {
		width: 100%;
	}

	.connect__text {
		max-width: 100%;
	}

	.connect__description {
		display: none;
	}

	.connect__description3 {
		display: block;
	}
}

@media screen and (max-width: 470px) {
	.site-header__list {
		display: none;
	}

	.logo {
		font-family: sans-serif;
		font-size: 24px;
	}

	.manu-btn {
		display: block;
		background-color: transparent;
		border: none;
	}

	.hero__title {
		font-size: 48px;
	}

	/* FEATURED START */
	.featured {
		padding-top: 65px;
		padding-bottom: 65px;
	}
	.featured__top {
		margin-bottom: 65px;
		max-width: 100%;
		width: 100%;
	}

	.featured__top h2 {
		font-size: 43px;
		margin-bottom: 12px;
	}

	.featured__top p {
		font-size: 16px;
	}

	.featured__list {
		gap: 97px;
	}

	.featured__item {
		gap: 40px;
	}

	.featured__work-btn {
		top: 10px;
		left: 10px;
		padding: 6px 12px;
		font-size: 12px;
	}

	.featured__title {
		font-size: 25px;
	}

	.featured__text {
		font-size: 17px;
	}

	.featured__inner {
		margin-bottom: 17px;
	}

	.featured__social a {
		font-size: 15px;
	}
	/* FEATURED END */
}
